.top-actions {
  --icon-width: 18px;

  padding: 25px 0 0;

  @include onTablet() {
    padding: 50px 0 0;
  }

  display: grid;
  grid-template-columns: 64px 1fr var(--icon-width) var(--icon-width);
  gap: 30px;

  @include onTablet() {
    --icon-width: 24px;
    gap: 63px;
  }

  &__logo {
    display: block;
    width: 64px;
    height: 46px;
    background-image: url(../images/met-logo.svg);
    @include background-position;

    @include onTablet() {
      width: 87px;
      height: 65px;
    }

  }
}
